html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding-bottom: 150px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#teamTitle {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 28pt;
    margin-top: 20px;
    margin-bottom: 50px;
}

#teamInfo {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    min-height: 1800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px grey;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 19% 5% 19% 5% 19% 5% 19% 2%;
}

.name {
    font-size: 16pt;
    margin-bottom: 0 !important;
}

.email, .role {
    font-size: 12pt;
}

.chefHatHidden {
    visibility: hidden;
}

.chefHatVisible {
    visibility: visible;
}

#chefHat1Div {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    z-index: 1;
    margin-top: 67px;
    margin-left: -10px;

}

#chefHat1Image {
    width: 140px;
    height: auto;
}

#lucas {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 5% 20%;
}

#lucasImageDiv {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-self: center;
}

.teamMemberPhoto {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#lucasDescription {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% 50%;
}

#lucasName {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

#lucasRole {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

#lucasEmail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#chefHat2Div {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
    z-index: 1;
    margin-top: 62px;
    margin-left: -5px;
}

#chefHat2Image {
    width: 135px;
    height: auto;
}

#justin {    
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 5% 20%;
}

#justinImageDiv {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-self: center;
}

#justinDescription {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% 50%;
}

#justinName {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

#justinRole {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

#justinEmail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#chefHat3Div {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    text-align: center;
    z-index: 1;
    margin-top: 48px;
    margin-left: 3px;
}

#chefHat3Image {
    width: 160px;
    height: auto;
}

#owen {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 5% 20%;
}

#owenImageDiv {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-self: center;
}

#owenDescription {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% 50%;
}

#owenName {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

#owenRole {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

#owenEmail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#chefHat4Div {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    text-align: center;
    z-index: 1;
    margin-top: 40px;
    margin-right: 8px;
}

#chefHat4Image {
    width: 177px;
    height: auto;
}

#sarah {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 5% 20%;
}

#sarahImageDiv {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-self: center;
}

#sarahDescription {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% 50%;
}

#sarahName {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

#sarahRole {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

#sarahEmail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

@media only screen and (max-width: 300px) {

    #teamTitle {
        font-size: 24pt;
    }
}

@media only screen and (min-width: 600px) {

    #teamTitle {
        font-size: 32pt;
    }

    #teamInfo {
        grid-template-columns: 5% 42.5% 5% 42.5% 5%;
        grid-template-rows: 10% 40% 10% 40%;
        min-height: 800px;
        padding-bottom: 85px;
    }

    .name {
        font-size: 20pt;
    }

    .email, .role {
        font-size: 16pt;
    }

    #chefHat1Div {
        margin-top: 95px;
    }

    #chefHat2Div {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
        margin-top: 93px;
    }
    
    #justin {    
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }
    
    #chefHat3Div {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        margin-top: 79px;
    }
    
    #owen {    
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

    #chefHat4Div {
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
        margin-top: 70px;
    }
    
    #sarah {    
        grid-column: 4 / span 1;
        grid-row: 4 / span 1;
    }
}