@font-face {
    font-family: 'on_my_wayregular';
    src: url('../font/on_my_way/on_my_way_free_version-webfont.woff2') format('woff2'),
         url('../font/on_my_way/on_my_way_free_version-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding-bottom: 150px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#navbar {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

#kitchenName {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    align-self: start;
    justify-self: center;
    text-align: center;
    font-size: 36pt;
    font-family: 'on_my_wayregular';
    margin-top: 20px;
}

table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px 40px;
    justify-content: center;
    width: 100%;
}

td {
    font-size: 16pt;
    padding-left: 10px;
}

#recipes {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    height: 500px;
    width: 85%;
    background-color: white;
    box-shadow: 5px 10px grey;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
    overflow-y: auto;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#recipeTitle {
    font-size: 28pt;
    font-family: 'on_my_wayregular';
    text-align: center;
    background-color: white;
}

.name {
    word-wrap: break-word;
    margin-bottom: 0;
}

.viewButton {
    background-color: #DE2007;
    border-radius: 5px;
    color: #FFF3DF;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.viewButton:hover {
    background-color: #BB1B05;
    color: #FFF3DF;
}

#dishes {
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    height: 500px;
    width: 85vw;
    background-color: white;
    box-shadow: 5px 10px grey;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
    overflow-y: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#dishesTitle {
    font-size: 28pt;
    font-family: 'on_my_wayregular';
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

#addButtonDIV {
    grid-column: 2 / span 2;
    grid-row: 7 / span 1;
    justify-self: center;
    margin-top: 150px;
}

#addButton {
    background-color: #DE2007;
    border-radius: 25px;
    color: #FFF3DF;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#addButton:hover {
    background-color: #BB1B05;
}

#footer {
    grid-column: 1 / span 3;
    grid-row: 9 / span 1;
}

@media only screen and (max-width: 300px) {
    
    body {
        display: grid;
        grid-template-rows: 10% 5% 30% 30% 5% 0% 0% 0%;
        grid-template-columns: 10% 80% 10%;
        font-family: 'latolight';
    }

    #navbar {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        height: 100%;
    }

    table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 1px 30px;
    }

    td {
        font-size: 12pt;
    } 

    #kitchenName {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        font-size: 32pt;
        margin-top: 100px;
    }

    #recipes {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        height: 450px;
        width: 100%;
        display: inline-block;
        text-align: center; 
        position: relative;
        overflow-y: auto;
        margin-top: 0;
        margin-bottom: 10px;  
    }

    #recipeTitle {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 24pt;
    }

    .foodImg {
        width: 50px;
        height: 50px;
    }

    .viewButton {
        padding-left: 5px;
        padding-right: 5px;
    }

    #dishes {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        height: 450px;
        width: 100%;
        display: inline-block;
        text-align: center; 
        position: relative;
        overflow-y: auto;
        margin-top: 75px;
        margin-bottom: 30px; 
    }

    #dishesTitle {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 24pt;
        font-family: 'on_my_wayregular';
        text-align: center;
    }

    #addButtonDIV {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1; 
        margin-top: 250px;
    }

    #addButton {
        font-size: 12pt;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 600px) {
    
    body {
        display: grid;
        grid-template-rows: 10% 5% 30% 30% 5%;
        grid-template-columns: 10% 80% 10%;
        font-family: 'latolight';
    }

    #navbar {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        height: 100%;
    }

    table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 3px 60px;
    }

    td {
        font-size: 20pt;
    } 

    #kitchenName {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        font-size: 42pt;
        margin-top: 100px;
    }

    #recipes {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        height: 600px;
        width: 100%;
        display: inline-block;
        text-align: center; 
        position: relative;
        overflow-y: auto;
        margin-top: 0;
        margin-bottom: 10px;  
    }

    #recipeTitle {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 32pt;
    }

    .foodImg {
        width: 150px;
        height: 150px;
    }

    .viewButton {
        padding-left: 30px;
        padding-right: 30px;
    }

    #dishes {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        height: 600px;
        width: 100%;
        display: inline-block;
        text-align: center; 
        position: relative;
        overflow-y: auto;
        margin-top: 200px;
        margin-bottom: 30px; 
    }

    #dishesTitle {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 32pt;
        text-align: center;
        font-family: 'on_my_wayregular';
    }

    #addButtonDIV {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1; 
        margin-top: 400px;
        margin-bottom: 50px;
    }

    #addButton {
        font-size: 16pt;
        padding: 20px;
        padding-left: 75px;
        padding-right: 75px;
    }
}