html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#kitchenRegistrationTitle {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: end;
    justify-self: center;
    text-align: center;
    font-size: 28pt;
    margin: 50px;
}

#registration-form {
    grid-column: 2 / span 1;
    font-size: 16pt;
    display: grid;
    margin-bottom: 75px;
    background-color: white;
    box-shadow: 5px 10px grey;
    border-radius: 10px;
    padding: 50px;
    justify-self: center;
    width: 80vw;
}

.mb-3 {
    justify-self: center;
    width: 50vw;
}

.col-sm-2 {
    width: 100%;
}

.form-control {
    background-color: azure;
    font-size: 14pt;
}
    
#kitchen-name {
    grid-row: 1;
    display: grid;
}

#street {
    grid-row: 2;
    display: grid;
}

#city {
    grid-row: 3;
    display: grid;
}

#postal-code {
    grid-row: 4;
    display: grid;
}

#buttons {
    grid-row: 5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding-top: 5vh;
}

#cancel {
    text-align: center;
    background-color: #FFF3DF;
    height: 100%;
    width: 80%;
    padding: 0px;
    border-radius: 20px;
    text-decoration: none;
    justify-self: center;
}

#cancel:hover {
    background-color: #E4D1B1;
}

#cancel-button-label {
    color: #000000;
    margin: 1vh;
}

#next {
    text-align: center;
    background-color: #DE2007;
    padding: 0px;
    height: 100%;
    width: 80%;
    border-radius: 25px;
    text-decoration: none;
}

#next:hover {
    background-color: #BB1B05;
}

#next-button-label {
    color: #FFF3DF;
    margin: 1vh;
}

#spacer {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1; 
    text-align: center;
    display: inline;
    visibility: hidden;
}

#footer {
    grid-column: 1 / span 3;
}


@media only screen and (min-width: 600px) {
    #kitchenRegistrationTitle {
        font-size: 32pt;
    }

    .mb-3 {
        width: 450px;
    }

    #registration-form {
        font-size: 20pt;
        max-width: 600px;
    }

    #input-kitchen-name {
        padding-right: 0;
    }

    #cancel {
        margin: auto;
        padding: 0 5px;
    }

    #next {
        margin: auto;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 300px) {
    #kitchenRegistrationTitle {
        font-size: 24pt;
    }
    
    #registration-form {
        font-size: 12pt;
    }
}