/* The css is written in the order that each element appears in the html page. */

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-family: 'latolight';
    font-size: 5vw;
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    min-height: 8vh;
}
    
.navbar-brand {
    font-size: 3vh;
}

#registration-form {
    grid-column: 2 / span 1;
    grid-row: 2 / span 100;
    display: grid;
    grid-template-areas: 
    'name name'
    'street street'
    'city pc'
    'buttons buttons';
    grid-gap: 10px;
    padding-top: 8vh;
    padding-bottom: 5vh;
}
    
.col-sm-2 {
    width: auto;
}

#kitchen-name {
    grid-area: name;
    display: grid;
    grid-template-rows: 1;
}

#street {
    grid-area: street;
    display: grid;
    grid-template-rows: 1;
}

#city {
    grid-area: city;
    display: grid;
    grid-template-rows: 1;
}

#postal-code {
    grid-area: pc;
    display: grid;
    grid-template-rows: 1;
}

#buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    vertical-align: auto;
    padding-top: 5vh;
}

#cancel {
    text-align: center;
    background-color: #FFF3DF;
    height: 100%;
    padding: 0px;
    border-radius: 25px;
    text-decoration: none;
}

#cancel-button-label {
    color: #000000;
    margin: 1vh;
}

#next {
    text-align: center;
    background-color: #DE2007;
    padding: 0px;
    height: 100%;
    border-radius: 25px;
    text-decoration: none;
}

#next-button-label {
    color: #FFF3DF;
    margin: 1vh;
}

#footer {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 2vh;
    }

    #navbar {
        font-size: 1.5vw;
    }

    #registration-form {
        width: 500px;
        margin: auto;
        grid-template-columns: 55% 45%; 
    }

    #input-kitchen-name, #input-street {
        width: 469px;
    }

    #buttons {
        justify-content: center;
    }

    #cancel {
        margin: auto;
        padding: 0 5px;
    }

    #next {
        margin: auto;
        padding: 0 30px;
    }
}