/* The css is written in the order that each element appears in the html page. */

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 7% 86% 7%;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}
::-webkit-scrollbar-track {
    background-color: azure;
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#kitchenRegistrationTitle {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: end;
    justify-self: center;
    text-align: center;
    font-size: 32pt;
    margin-top: 20px;
}

#knife {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    width: 50%;
    align-self: start;
    justify-self: end;
    position: relative;
    top: 100px;
    left: 30px;
    z-index: 2;
}

#registration-form {
    grid-column: 2 / span 1;
    font-size: 20pt;
    display: grid;
    grid-template-areas: 
    'name name'
    'street street'
    'city pc'
    'buttons buttons';
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 3vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px grey;
}

.col-sm-2 {
    width: auto;
}

.form-control {
    background-color: azure;
    font-size: 14pt;
}
    
#kitchen-name {
    grid-area: name;
    display: grid;
}

#street {
    grid-area: street;
    display: grid;
}

#city {
    grid-area: city;
    display: grid;
}

#postal-code {
    grid-area: pc;
    display: grid;
}

#buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding-top: 5vh;
}

#cancel {
    text-align: center;
    background-color: #FFF3DF;
    height: 100%;
    width: 80%;
    padding: 0px;
    border-radius: 20px;
    text-decoration: none;
    justify-self: center;
}

#cancel:hover {
    background-color: #E4D1B1;
}

#cancel-button-label {
    color: #000000;
    margin: 1vh;
}

#next {
    text-align: center;
    background-color: #DE2007;
    padding: 0px;
    height: 100%;
    width: 80%;
    border-radius: 25px;
    text-decoration: none;
}

#next:hover {
    background-color: #BB1B05;
}

#next-button-label {
    color: #FFF3DF;
    margin: 1vh;
}

#spacer {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1; 
    text-align: center;
    display: inline;
    visibility: hidden;
}

#footer {
    grid-column: 1 / span 3;
}


@media only screen and (min-width: 1000px) {
    #knife {
        width: 30%;
        align-self: start;
        justify-self: center;
        position: relative;
        top: 110px;
        left: 260px;
        z-index: 2;
    }

    #registration-form {
        font-size: 16pt;
        width: 500px;
        margin: auto;
        margin-bottom: 100px;
        grid-template-columns: 50% 50%; 
    }

    #input-kitchen-name, #input-street {
        width: 455px;
    }

    #buttons {
        justify-content: center;
    }

    #cancel {
        margin: auto;
        padding: 0 5px;
    }

    #next {
        margin: auto;
        padding: 0 30px;
    }
}