@font-face {
    font-family: 'on_my_wayregular';
    src: url('../font/on_my_way/on_my_way_free_version-webfont.woff2') format('woff2'),
         url('../font/on_my_way/on_my_way_free_version-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 4% 92% 4%;
    font-family: 'latolight';
    background-image: url("/img/spices.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#login_navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

}

#login {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 5% 8% 74% 8% 5%;
    grid-template-rows: 8% 20% 5% 20% 4% 6% 4% 14% 4% 12% 3%;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(60%);
    border-radius: 10%;
    margin: auto;
    min-width: 90vw;
    padding: 5% 5%;
}

#username {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    display: grid;
    justify-content: center;
}

#password {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    display: grid;
    justify-content: center;
}

div label  {
    color: #FFF3DF;
}

#inputUsername, #inputPassword {
    font-size: 3.5vw;
}

#invalidUser {
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
    text-align: center;
    color: #FFF3DF;
    font-weight: bolder;
}

#loginButton {
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
    text-align: center;
    background-color: #DE2007;
    height: 100%;
    width: 75%;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    font-size: 14pt;
}

#loginButton:hover {
    background-color: #BB1B05;
}

#loginButtonLabel {
    padding: 1vw;
    color: #FFF3DF;
}

#signUpButton {
    grid-column: 3 / span 1;
    grid-row: 10 / span 1;
    text-align: center;
    background-color: #FFF3DF;
    height: 100%;
    width: 75%;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    font-size: 14pt;
}

#signUpButton:hover {
    background-color: #E4D1B1;
}

#signUpButtonLabel {
    padding: 0.7vw 0px 1.5vw 0px;
    color: black;
}

#footer {
    grid-column: 1 / span 3;
}


@media only screen and (min-width: 600px) {
    body {
        padding-bottom: 50px;
    }

    #login {
        max-width: 600px;
        min-width: 550px;
        padding: 50px;
    }

    #inputUsername, #inputPassword {
        font-size: 14pt;
        min-width: 440px;
    }

    #username, #password, #loginButton, #signUpButton {
        font-size: 20pt;
    }
}