html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 4% 92% 4%;
    grid-template-rows: 7% 10% 60% 20% 8%;
    font-family: 'latolight';
    font-size: 16pt;
}

#login_navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#spices {
    grid-column: 1 / span 3;
    grid-row: 2 / span 6;
    width: 100%;
    height: 100%;
}

#logo-container {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#logo {
    height: 100%;
    width: auto;
}

#login {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 5% 8% 74% 8% 5%;
    grid-template-rows: 8% 20% 5% 20% 4% 6% 4% 14% 4% 12% 3%;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(60%);
    border-radius: 10%;
    margin: auto;
    min-width: 90vw;
    padding: 5% 5%;
}

#username {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    display: grid;
    justify-content: center;
    font-size: 14pt;
}

#password {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    display: grid;
    justify-content: center;
    font-size: 14pt;
}

div label  {
    color: #FFF3DF;
}

#inputUsername, #inputPassword {
    font-size: 14pt;
}

#invalidUser {
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
    text-align: center;
    color: #FFF3DF;
    font-weight: bolder;
}

#loginButton {
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
    text-align: center;
    background-color: #DE2007;
    height: 100%;
    width: 75%;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    font-size: 14pt;
}

#loginButton:hover {
    background-color: #BB1B05;
}

#loginButtonLabel {
    padding: 1vw;
    color: #FFF3DF;
}

#signUpButton {
    grid-column: 3 / span 1;
    grid-row: 10 / span 1;
    text-align: center;
    background-color: #FFF3DF;
    height: 100%;
    width: 75%;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    font-size: 14pt;
}

#signUpButton:hover {
    background-color: #E4D1B1;
}

#signUpButtonLabel {
    padding: 0.7vw 0px 1.5vw 0px;
    color: black;
}

#footer {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
}

@media only screen and (min-width: 600px) {
    #login {
        max-width: 600px;
        min-width: 40vw;
        padding: 50px;
    }

    #inputEmail, #inputPassword {
        font-size: 14pt;
        min-width: 440px;
    }

    #email, #password, #loginButton, #signUpButton {
        font-size: 20pt;
    }
}