body {
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    padding-bottom: 150px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 24pt;
}

#profile {
    margin-top: 100px;
}

#title {
    text-align: center;
}

#avatarPath {
    height: auto;
    width: 100%;
    justify-self: center;
    border-radius: 10px;
}

#avatar-upload {
    width: 69%;
}

#avatar-submit {
    margin-left: 50px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-top: 200px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: 5px 10px grey;
}

#editUserInfo {
    background-color: #FFF3DF;
    color: black;
    border-color: #FFF3DF;
}

#editUserInfo:hover {
    background-color: #E4D1B1;
    color: black;
    border-color: #E4D1B1;
}

#updateUserInfo {
    background-color: #DE2007;
    color: #FFF3DF;
    border-color: #DE2007;
}

#updateUserInfo:hover {
    background-color: #BB1B05;
    color: #FFF3DF;
    border-color: #DE2007;
}

#adminAdd {
    margin-top: 55px;
}

.form-group {
    margin-bottom: 10px;
}

.input-group {
    width: 90%;
    margin: auto;
}

.input-group-text {
    width: 105px;
}

.form-control {
    background-color: azure;
}

#usernameCardInput {
    margin-top: 20px;
}

.form-check {
    text-align: center;
    width: 40%;
    margin: auto;
}

#addUserButton {
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #DE2007;
    border-color: #DE2007;
    color: #FFF3DF;
}

#addUserButton:hover {
    background-color: #BB1B05;
    border-color: #BB1B05;
    color: #FFF3DF;
}

#incorrectInput {
    text-align: center;
    align-items: center;
}

#dashboard {
    margin: auto;
    width: 80%;
    margin-top: 200px;
    align-self: start;
    overflow: auto;
}

#incorrectDelete {
    font-size: 16pt;
}

.btn-outline-info {
    background-color: #DE2007;
    color: #FFF3DF;
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
    text-align: center;
    width: 60px;
}

.btn-outline-info:hover {
    background-color: #BB1B05;
}

#footer {
    height: 50px;
}

@media only screen and (min-width: 1000px) {

    #welcome {
        font-size: 32pt;
        margin-top: 70px;
    }

    #avatar {
        width: 30%;
    }

    #avatarPath {
        height: auto;
    }

    #avatar-upload {
        width: 50%;
    }

    .card {
        width: 30%;
    }

    .form-group {
        font-size: 16pt;
        margin-bottom: 10px
    }

    #adminAdd {
        margin-top: 120px;
        margin-bottom: 70px;
    }

    .form-check {
        font-size: 20pt;
    }

    #dashboard {
        height: 100%;
        width: 80%;
        margin: auto;
        margin-top: -20px;
        margin-bottom: 500px;
    }

    #incorrectDelete {
        font-size: 24pt;
    }

    #userTable {
        margin-bottom: 0;
        align-items: start;
    }

    td {
        text-align: center;
    }
}