html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    font-family: 'latolight';
    background-color: #c49a68;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#spices {
    grid-column: 1 / span 3;
    grid-row: 2 / span 6;
    width: 100%;
    height: 100%;
}

#profile {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    backdrop-filter: brightness(80%);
    background-color: white;
    border-radius: 10px;
    height: 90%;
    width: 80vw;
    max-height: 500px;
    margin: auto;
    padding-bottom: 20px;
    z-index: -1;
    box-shadow: 5px 10px grey;
}

#knife {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 55%;
    height: auto;
    justify-self: end;
}

#dashboard {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
    border-radius: 10px;
    height: 90%;
    width: 80vw;
    max-height: 500px;
    margin: auto;
    padding-bottom: 120px;
    align-items: start;
}

.card {
    background-color: transparent;
    display: grid;
    margin: 2vh auto;
    padding: 2vh;
    border-style: none;
    max-width: 80vw;
}

.card-img-top {
    width: 50%;
    height: auto;
    justify-self: center;
    border-radius: 100%;
}

.card-body {
    display: grid;
    grid-template: 
    'title title'
    'fname lname'
    'username username'
    'password password'
    'button button';
    grid-template-rows: 15% 15% 15% 15% 25%;
    grid-gap: 1vh;
    color: black;
}

.card-title {
    grid-area: title;
}

.firstName {
    grid-area: fname;
}

.lastName {
    grid-area: lname;
}

.username {
    grid-area: username;
}

.password {
    grid-area: password;
}

.firstName, .lastName, .username, .password {
    text-decoration: none;
    font-size: 14pt;

}

.btn {
    grid-area: button;
    background-color: #DE2007;
    border-style: none;
    padding: 6%;
}

.btn:hover {
    background-color: #BB1B05;
}


#footer {
    grid-column: 1 / span 3;
    grid-row: 7 / span 1;
}

@media only screen and (min-width: 600px) {
    
    body {
        height: 100%;
        display: grid;
        grid-template-rows: 8% 40% 52% 8% 8% 40% 70% 8% 8%;
        font-family: 'latolight';
    }

    #profile {
        width: 50%;
        height: 100%;
        margin-top: 80px;        
    }

    #dashboard {
        grid-column: 2 / span 1;
        grid-row: 4 / span 3;
        height: 80%;
        width: 80vw;
        max-height: 500px;
        margin: auto;
        padding-bottom: 950px;
    }

    #spices {
        height: 100%;
    }
}