body {
    display: grid;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#welcome {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    margin-top: 30px;
    font-size: 24pt;
}

#profile {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 100px;
}

#avatarPath {
    height: auto;
    width: 100%;
    justify-self: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    margin-top: 200px;
    margin: auto;
    padding-bottom: 20px;
    z-index: 1;
    box-shadow: 5px 10px grey;
}

#knife {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 55%;
    height: auto;
    justify-self: end;
    z-index: 1;
}

#dashboard {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
    border-radius: 10px;
    height: 90%;
    width: 80vw;
    max-height: 500px;
    margin: auto;
    padding-bottom: 120px;
    align-items: start;
}


#footer {
    grid-column: 1 / span 3;
    grid-row: 7 / span 1;
}

@media only screen and (min-width: 1000px) {
    
    body {
        display: grid;
        grid-template-rows: 8% 40% 5% 8% 8% 40% 70% 8% 8%;
        font-family: 'latolight';
    }

    .card {
        width: 50%;
        height: 100%;
        margin-top: 80px;        
    }

    #dashboard {
        grid-column: 2 / span 1;
        grid-row: 4 / span 3;
        height: 80%;
        width: 80vw;
        max-height: 500px;
        margin: auto;
        padding-bottom: 950px;
    }
}