html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    font-family: 'latolight';
    font-size: 16pt;
    background-image: url("/img/spices.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#login_navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    height: 7vh;
}

#login {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(60%);
    border-radius: 10%;
    font-size: 12pt;
    padding: 5vw;
    justify-content: center;
    margin: auto;
}

div label  {
    color: #FFF3DF;
}

.row-mb3 {
    justify-content: center;
    margin: auto;
}

#username {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
}

#password {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

#fName {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    width: 100%; 
}

#lName {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1; 
}

#invalidUser {
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
    margin-top: 2vh;
    text-align: center;
    color: #FFF3DF;
    font-weight: bolder;
}

#backButton {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    text-align: center;
    background-color: #FFF3DF;
    border-radius: 25px;
    margin-right: 20px;
    text-decoration: none;
    height: 48px;
}

#backButton:hover {
    background-color: #E4D1B1;
}

#backButtonLabel {
    color: black;
    padding-top: 1vh;
}

#createAccountButton {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    text-align: center;
    background-color: #DE2007;
    height: 100%;
    border-radius: 25px;
    text-decoration: none;
}

#createAccountButton:hover {
    background-color: #BB1B05;
}

#createAccountButtonLabel {
    color: #FFF3DF;
    padding-top: 1vh;
}

#inputUsername, #inputPassword, #inputFName, #inputLName {
    font-size: 10pt;
    width: 100%;
}

#username, #password, #fName, #lName {
    display: grid;
}

#footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
}

.col-form-label:after {
    content:" *";
    color: #FFF3DF;
}

#asterisk {
    color: #FFF3DF;
}

@media only screen and (min-width: 576px) {

    #login {
        grid-template-columns: 45% 10% 45%;
        width: 460px;
        padding: 30px;
    }

    #username, #password, #address {
        font-size: 18pt;
        min-width: 500px;
    }

    #fName, #lName {
        font-size: 16pt;
        min-width: 200px;
        max-width: 200px;
    }

    #inputUsername, #inputPassword, #inputFName, #inputLName {
        font-size: 14pt;
    }

    .col-sm-2 {
        width: 80%;
    }

    #backButtonLabel, #createAccountButtonLabel{
        font-size: 18px;
    }
}

@media only screen and (max-width: 300px) {
    .col-md-4 {
        font-size: 4vw;
        padding-right: 7px;
    }

    #contact, #faq {
        font-size: 4vw;
        padding: 0px 5px 10px 0px;
    }
}