html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-family: 'latolight';
    background-color: #c49a68;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: red;
}

::-webkit-scrollbar-track {
    background-color: azure;
}

#navbar {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#uploadTitle {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    font-size: 24pt;
    margin: 50px;
}

#content {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px grey;
    overflow: auto;
    padding: 40px 20px;
    width: 80vw;
}

#uploadForm {
    grid-row: 1;
    font-size: 16pt;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 5% 20% 20% 35%;
}

#recipeOrDish {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#radioButtonsLabel {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-self: start;
    margin-bottom: 300px;
}

#radioButtons {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    grid-template-columns: 50% 50%;
    grid-template-rows: 56% 33% 20%;
    padding-right: 0;
}

#recipeChoiceLabel {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
    font-size: 16pt;
}

#dishChoiceLabel {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
    font-size: 16pt;
}

#recipeChoice {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    align-self: end;
}

#dishChoice {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: end;
}

.col-sm-2 {
    width: auto;
}

.col-sm-10 {
    text-align: center;
    justify-items: center;
    width: auto;
}

.form-control {
    background-color: azure;
    font-size: 14pt;
}

#name {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
}

#nameInputDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
}

#nameLabel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
}

#price {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
}

#priceLabel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
}

#priceInputDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
}

#description {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

#descriptionLabel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
}

#descriptionInputDiv {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: start;
}

#inputDescription {
    height: 175px;
}

#upload-recipeDish-form {
    grid-row: 2;
    display: grid;
}

#photoUpload {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}

#uploadPhotoLabel {
    grid-row: 1;
    text-align: center;
    margin-bottom: 0;
    font-size: 24pt;
    margin-bottom: 20px;
}

#photoPreview {
    grid-row: 3;
    max-width: 200px;
    height: auto;
    justify-self: center;
}

#recipeDish-upload {
    width: 250px;
    margin: auto;
}

input[type=file]::file-selector-button {
    margin: auto;  
    padding: 5px;   
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #DE2007;
    color: #FFF3DF;
    width: 110px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer; 
    margin-top: 5px;
}

#recipeDish-submit{
    margin: auto;  
    padding: 5px;   
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #DE2007;
    color: #FFF3DF;
    width: 110px;
    border-radius: 25px;
    text-decoration: none;  
    margin-top: 5px;
}

#upload-status {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#finishButtonDiv {
    display: grid;
    grid-row: 8 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: 60% 20% 20%;
    margin-top: 30px;
}

#finishButton {
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #DE2007;
    color: #FFF3DF;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    border-radius: 25px;
    text-decoration: none;
}

#finishButton:hover {
    background-color: #BB1B05;
}

#spacer {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1; 
    text-align: center;
    display: inline;
    height: 90px;
}

#footer {
    grid-column: 1 / span 3;
}

@media only screen and (min-width: 600px) {
    #uploadTitle {
        font-size: 32pt;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #content {
        width: 550px;
        justify-self: center;
    }

    #uploadForm {
        font-size: 16pt;
        width: 450px;
        margin: auto;
        grid-template-columns: 50% 50%; 
    }

    #recipeOrDish {
        grid-column: 1 / span 2;
    }

    #name {
        grid-column: 1 / span 2;
    }

    #price {
        grid-column: 1 / span 2;
    }

    #ingredients {
        grid-column: 1 / span 2;
    }

    #description {
        grid-column: 1 / span 2;
    }

    #photoUpload {
        grid-column: 1 / span 2;
        display: flex;
    }

    #buttons {
        justify-content: center;
    }

    #cancel {
        margin: auto;
        padding: 0 5px;
    }

    #next {
        margin: auto;
        padding: 0 30px;
    }

    #upload-status {
        text-align: center;
    }

    #uploadForm-status {
        text-align: center;
    }
}

@media only screen and (max-width: 300px) {
    .navbar-brand {
        font-size: 12pt;
    }

    #uploadTitle {
        font-size: 24pt;
    }

    #uploadForm {
        font-size: 12pt;
    }

    #recipeChoiceLabel, #dishChoiceLabel {
        font-size: 12pt;
    }

    #uploadPhotoLabel {
        font-size: 16pt;
    }

    #contact, #faq {
        font-size: 4vw;
        padding: 0px 5px 10px 0px;
    }
}